{% extends 'base.html.twig' %}

{% block title %}Grilles{% endblock %}

{% block body %}
<div class="container pt-4">
    <h1 class="mb-4">Grilles</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Année</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
            <th scope="col">Nombre de tranches</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2018</td>
            <td>11/10/2020</td>
            <td>11/11/2020</td>
            <td>5</td>
            <td>Modifier</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>11/11/2020</td>
            <td></td>
            <td>5</td>
            <td>Modifier</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
