{% extends 'base.html.twig' %}

{% block title %}Simultations{% endblock %}

{% block body %}
    <div>
        <div class="container pt-4">
            <h1 class="mb-4">Simulations</h1>
            <table class="table">
                <thead>
                <tr style="text-align: left">
                    <th scope="col">Date</th>
                    <th scope="col">Id Contribuable</th>
                    <th scope="col">Année</th>
                    <th scope="col">Revenu</th>
                    <th scope="col">Part(s)</th>
                    <th scope="col">Quotient Familial</th>
                    <th scope="col">Impot&nbsp;</th>
                    <th scope="col">Evolution</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>11/11/2020</td>
                    <td>1</td>
                    <td>2018</td>
                    <td>37500</td>
                    <td>1</td>
                    <td>37500</td>
                    <td>5452</td>
                    <td><span class="badge badge-success">-253</span></td>
                    <td><a href="/simulation/1">Voir</a> / Modifier</td>
                </tr>
                <tr>
                    <td>11/11/2020</td>
                    <td>1</td>
                    <td>2019</td>
                    <td>53500</td>
                    <td>3</td>
                    <td>17833</td>
                    <td>1101</td>
                    <td>&nbsp;</td>
                    <td>Voir / Modifier</td>
                </tr>
                <tr>
                    <td>10/11/2020</td>
                    <td>2</td>
                    <td>2018</td>
                    <td>36400</td>
                    <td>2,5</td>
                    <td>14560</td>
                    <td>0</td>
                    <td><span class="badge badge-danger">+124</span></td>
                    <td>Voir / Modifier</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
