{% extends 'base.html.twig' %}

{% block title %}Simultation 1{% endblock %}

{% block body %}
    <div>
        <div class="container pt-4">
            <h1 class="mb-4">Simulation</h1>
            <div class="row">
                <div class="col col-4">
                    <h5>Infos contribuable</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Id : 1</li>
                        <li class="list-group-item">Nom : Jhon Doe</li>
                        <li class="list-group-item">Email : j.doe@gmail.com</li>
                    </ul>
                </div>
                <div class="col col-4">
                    <h5>Infos simulation</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Date de création : 11/11/2020</li>
                        <li class="list-group-item">Année : 2019</li>
                        <li class="list-group-item">Revenu net contribuable : 37500</li>
                        <li class="list-group-item">Revenu net conjoint (si en couple dans l'année) : 16000</li>
                        <li class="list-group-item">Enfant(s) comptant 0,5 part :
                            <ul class="mt-2">
                                <li>Pierre : 10/05/2014</li>
                                <li>Paul : 12/07/2001</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col col-4">
                    <h5>Infos impôt</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Part(s) : 3</li>
                        <li class="list-group-item">Quotient familial : 17833</li>
                        <li class="list-group-item">Evolution : <span class="badge badge-success">-253</span></li>
                        <li class="list-group-item">Impôt : 1101</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
